.venv/
*.pyc
__pycache__/
imdb_ratings_cache.json
imdb_search_cache.json
imdb_basics_cache.json
torrents.html
torrents_data*.json
youtube_cache.json
*page.html
posters/
*.hash.txt
*.hash.txt
last_source.txt
.vscode/
.idea/
*.log
